@page "/"

@layout TwoThirdsOneThirdLayout
@inject IStringLocalizer<Index> Loc

<PageTitle>@Loc["PageTitle"]</PageTitle>

<GdsHeading HeadingLevel=1 Classes=@HeadingSize.ExtraLarge>@Loc["PageHeading"]</GdsHeading>

<p class="govuk-body">@Loc["Para_1"]</p>

<p class="govuk-body"><OpssMarkupString LocalizedContent=@Loc["Para_2"]></OpssMarkupString></p>
<p class="govuk-body"><OpssMarkupString LocalizedContent=@Loc["Para_3"]></OpssMarkupString></p>
<p class="govuk-body govuk-!-margin-bottom-1"><OpssMarkupString LocalizedContent=@Loc["Para_4"]></OpssMarkupString></p>
<ul class="govuk-list govuk-list--bullet">
	<li>@Loc["Bullet_1"]</li>
	<li>@Loc["Bullet_2"]</li>
	<li>@Loc["Bullet_3"]</li>
</ul>

<p class="govuk-body">@Loc["Para_5"]</p>

<p class="govuk-inset-text"><OpssMarkupString LocalizedContent=@Loc["Inset_1"]></OpssMarkupString></p>

<GdsButton Href="/oidc/login?provider=oidc-onelogin" IsStartButton=@true>
	@Loc["StartButton"]
</GdsButton>

<GdsHeading HeadingLevel=2 Classes=@HeadingSize.Medium>@Loc["Heading_2"]</GdsHeading>
<p class="govuk-body">@Loc["Para_6"]</p>

<GdsHeading HeadingLevel=3 Classes=@($"{HeadingSize.Small} govuk-!-margin-bottom-1")>@Loc["Heading_3"]</GdsHeading>
<p class="govuk-body">@Loc["Para_7_1"]<a href="mailto:@Loc["PA_Email_Address"]" class="govuk-link govuk-link--no-visited-state">@Loc["PA_Email_Address"]</a>@Loc["Para_7_2"]</p>

<GdsHeading HeadingLevel=3 Classes=@($"{HeadingSize.Small} govuk-!-margin-bottom-1")>@Loc["Heading_4"]</GdsHeading>
<p class="govuk-body">@Loc["Para_8_1"]<a href="mailto:@Loc["PA_Email_Address"]" class="govuk-link govuk-link--no-visited-state">@Loc["PA_Email_Address"]</a>@Loc["Para_8_2"]</p>

<GdsHeading HeadingLevel=3 Classes=@($"{HeadingSize.Small} govuk-!-margin-bottom-1")>@Loc["Heading_5"]</GdsHeading>
<p class="govuk-body">@Loc["Para_9"]</p>
