@page "/"

@inject IStringLocalizer<Index> Loc

<PageTitle>@Loc["PageTitle"]</PageTitle>

<GdsHeading HeadingLevel=1 Classes=@HeadingSize.ExtraLarge>@Loc["PageHeading"]</GdsHeading>

<p class="govuk-body">@Loc["Para_1"]</p>
<p class="govuk-body"><strong>@Loc["Para_2_1"]</strong>@Loc["Para_2_2"]</p>
<p class="govuk-body"><strong>@Loc["Para_3_1"]</strong>@Loc["Para_3_2"]</p>
<p class="govuk-body"><strong>@Loc["Para_4_1"]</strong>@Loc["Para_4_2"]</p>
<ul class="govuk-list govuk-list--bullet">
	<li>@Loc["Bullet_1"]</li>
	<li>@Loc["Bullet_2"]</li>
	<li>@Loc["Bullet_3"]</li>
</ul>
<p class="govuk-body">@Loc["Para_5"]</p>
<p class="govuk-inset-text">@Loc["Inset_1"]<strong>@Loc["Inset_2"]</strong>@Loc["Inset_3"]</p>

<GdsButton Href="/oidc/login?provider=oidc-onelogin" IsStartButton=@true>
	@Loc["StartButton"]
</GdsButton>

<GdsHeading HeadingLevel=2 Classes=@HeadingSize.Medium>@Loc["Heading_2"]</GdsHeading>
<p class="govuk-body">@Loc["Para_6"]</p>

<GdsHeading HeadingLevel=3 Classes=@HeadingSize.Small>@Loc["Heading_3"]</GdsHeading>
<p class="govuk-body">@Loc["Para_7_1"]<a href="mailto:pa@businessandtrade.gov.uk" class="govuk-link govuk-link--no-visited-state">pa@businessandtrade.gov.uk</a>@Loc["Para_7_2"]</p>