@page "/authority/partnership-application/initiate/confirm"
@attribute [Authorize(Policy = IdentityConstants.Policies.Authority)]

@layout TwoThirdsOneThirdLayout

@inject IStringLocalizer<Confirm> Loc
@inject NavigationManager navigationManager

<PageTitle>@Loc["PageTitle"]</PageTitle>

@if (pageHasErrors)
{
	<GdsErrorSummary DataTestId="error-summary">
		<GdsErrorSummaryItem DataTestId="confirm-criteria-error-summary" Href="#confirm-criteria">
			@Loc["Criteria_Error_Text"]
		</GdsErrorSummaryItem>
	</GdsErrorSummary>
}

<GdsHeading DataTestId="page-heading" HeadingLevel="1" Classes=@HeadingSize.Large>
	@Loc["PageHeading"]
</GdsHeading>

<GdsInsetText DataTestId="page-inset-text">
	@Loc["Guidance"]
</GdsInsetText> 

<GdsCheckboxes Name="confirm-criteria" 
			   @bind-Values=selectedCriteria 
			   DataTestId="confirm-criteria"
			   ErrorMessageTemplate=@(pageHasErrors ? errorMessage! : null!)>
	<LegendTemplate>
		<p class="govuk-body">@Loc["Criteria_Text"]</p>
	</LegendTemplate>
	<ChildContent>
		<GdsCheckbox Value="1" InputDataTestId="confirm-criteria-organisation-elegible">
			@Loc["Criteria1_Checkbox_Text"]
		</GdsCheckbox>
		<GdsCheckbox Value="2" InputDataTestId="confirm-criteria-authority-suitable">
			@Loc["Criteria2_Checkbox_Text"]
		</GdsCheckbox>
		<GdsCheckbox Value="3" InputDataTestId="confirm-criteria-summary-created">
			@Loc["Criteria3_Checkbox_Text"]
		</GdsCheckbox>
	</ChildContent>
</GdsCheckboxes>

<GdsButton Id="confirm-button" 
		   OnClick=@OnConfirmAgreement
		   DataTestId="confirm-button">
	@Loc["Continue_Button_Text"]
</GdsButton>

@code {
	#region Private Properties
	private List<string> selectedCriteria = new();
	private bool pageHasErrors = false;
	private RenderFragment? errorMessage;
	#endregion

	protected override void OnInitialized()
	{
		errorMessage =@<GdsErrorMessage DataTestId="confirm-criteria-error-message">@Loc["Criteria_Error_Text"]</GdsErrorMessage>;
		base.OnInitialized();
	}

	#region Event Handlers
	private void OnConfirmAgreement(MouseEventArgs e)
	{
		pageHasErrors = selectedCriteria.Count != 3;
		if (pageHasErrors) return;

		navigationManager.NavigateTo("/authority/partnership-application/initiate/task-list");
	}
	#endregion

}
