@page "/authority/partnership-application/initiate/task-list"
@attribute [Authorize(Policy = IdentityConstants.Policies.Authority)]

@using Microsoft.AspNetCore.WebUtilities
@using Opss.PrimaryAuthorityRegister.Web.Application.Helpers
@using Opss.PrimaryAuthorityRegister.Web.Shared.Authority

@inject IStringLocalizer<TaskList> Loc
@inject IQueryHelper queryHelper
@inject NavigationManager NavManager

<PageTitle>@Loc["PageTitle"]</PageTitle>

<GdsHeading DataTestId="page-heading" HeadingLevel="1" Classes="@HeadingSize.Large">
	<GdsCaption Classes=@CaptionSize.Large><MyLocalAuthoirtyName /></GdsCaption>
	@Loc["PageHeading"]
</GdsHeading>

<MyOfferedRegulatoryFunctionsTags />
<p class="govuk-body govuk-!-static-margin-top-5" data-testid="completed-steps-summary">
	@Loc["CompletedSections_Prefix"]
	<span class="govuk-!-font-weight-bold">0</span>
	@Loc["CompletedSections_Of"]
	<span class="govuk-!-font-weight-bold">6</span>
	@Loc["CompletedSections_Suffix"]
</p>

<h2 class="govuk-heading-m">@Loc["List_1_Heading"]</h2>
<GdsTaskList Id="partnership-application-task-1-list"
			 DataTestId="partnership-type-task-list">
	<GdsTaskListItem DataTestId="select-partnersip-type-task-list-item">
		<TaskTitleTemplate>
			<GdsLink Id="select-partnership-type"
					 DataTestId="select-partnership-type-link"
					 Href="/authority/partnership-application/initiate/partnership-type/select">
				@Loc["List_1_Task_1_Title"]
			</GdsLink>
		</TaskTitleTemplate>
		<StatusTemplate>
			<GdsTag Classes=@TagClasses.Blue
					DataTestId="select-partnership-type-status-tag">
				@Loc["Not_Yet_Started"]
			</GdsTag>
		</StatusTemplate>
	</GdsTaskListItem>
</GdsTaskList>

@if (!string.IsNullOrEmpty(applicationId))
{
	<h2 class="govuk-heading-m">@Loc["List_2_Heading"]</h2>
	<GdsTaskList Id="partnership-application-task-2-list"
				 DataTestId="primary-authority-contacts-task-list">
		<GdsTaskListItem DataTestId="add-regulatory-function-contacts-task-list-item">
			<TaskTitleTemplate>
				<GdsLink Id="add-regulatory-function-contacts"
						 DataTestId="add-regulatory-function-contacts-link"
						 Href="/authority/partnership-application/initiate/regulatory-function-contacts/list">
					@Loc["List_2_Task_1_Title"]
				</GdsLink>
			</TaskTitleTemplate>
			<StatusTemplate>
				<GdsTag Classes=@TagClasses.Blue
						DataTestId="add-regulatory-function-contacts-status-tag">
					@Loc["Not_Yet_Started"]
				</GdsTag>
			</StatusTemplate>
		</GdsTaskListItem>
	</GdsTaskList>
}

@code {
	private string? applicationId = null;

	protected override void OnInitialized()
	{
		var uri = NavManager.ToAbsoluteUri(NavManager.Uri);
		if (queryHelper.ParseQuery(uri.Query).TryGetValue("applicationId", out var _applicationId))
		{
			applicationId = _applicationId.ToString();
		}
	}
}
